/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header-img {
  width: 100%;
}
.header .header-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.main-page {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.new-task-element,
.task-element,
.task-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-wrapper{
  display: flex;
}
#incomplete-tasks,
#completed-tasks {
  margin: 0;
  padding: 0px;
}
.input,
.task-btn{
  outline: none;
}
.task-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.task-btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  list-style: none;
}
.new-task-element,
.task-element {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.new-task-element:focus,
.task-element:focus {
  color: #333;
}

/* New Task */
.title-add-task{
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.task__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  vertical-align: middle;
}

.input-checkbox{
  margin: 0 10px;
}
.task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-element {
  width: 226px;
}
.task-delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task-delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-element{
  display: none;
}

.edit-mode .task-element {
  display: inline-block;
  width: 224px;
}

.edit-mode .task-label {
  display: none;
}